<h1>Edit Post</h1>
<hr>
<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.text_field :title, placeholder: "title", class: "form-control", autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.text_area :body, placeholder: "body", class: "form-control" %>
  </div>
  <%= f.submit "Sign Up", class: "btn btn-primary" %>
<% end %>